<section class="relative py-24 min-h-screen">
  <!-- Background Pattern -->
  <div class="absolute inset-0">
    <div class=" relative h-full w-full">
      <div
        class="
          absolute bottom-0 right-0 z[-2] h-full w-full bg-gradient-to-b from-bg
          to-neutral-200
        "
      ></div>

    </div>
  </div>

  <div
    class="
      relative min-h-screen container mx-auto px-6 flex flex-col items-center
      justify-center z-10
    "
  >
    <div class="text-center mb-16">
      <h2 class=" text-4xl md:text-5xl font-extrabold text-primary-600 mb-4 ">
        <%= t("landing.features.main_title") %>
      </h2>
      <p class="text-xl text-secondary-600 max-w-3xl mx-auto">
        <%= t("landing.features.main_subtitle") %>
      </p>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 mt-12">
      <% features.each do |feature_key| %>
        <%= render "shared/feature_card", key: feature_key %>
      <% end %>
    </div>
  </div>
</section>
