<!DOCTYPE html>
<html class="h-dvh">
  <head>
    <%= render "shared/html_head" %>
  </head>

  <body class="min-h-full text-text-800 bg-gray-200 p-4 md:p-10">
    <main class=" mx-auto max-w-7xl p-8 bg-white shadow-lg rounded-lg ">
      <%= yield %>
    </main>
  </body>
</html>
